{% extends 'DoshibuAdminBundle::layout.html.twig' %}

{% set activeMenu = 'Autres' %}

{% block body %}
	<div class="faq">
		<div class="tittle-head">
			<h4 class="latest-text">AHAH&nbsp;:&nbsp;
				<a href="{{ path('doshibu_admin_movies_add') }}">Ajout</a>
			</h4>
		</div>
		<div class="container">
		</div>
	</div>
{% endblock %}