{% extends 'DoshibuAdminBundle::layout.html.twig' %}

{% set activeMenu = 'Films' %}

{% block body %}
	<div class="faq">
		<div class="tittle-head">
			<h4 class="latest-text">Gestion des films&nbsp;:&nbsp;
				<a href="{{ path('doshibu_admin_movies_add') }}">Ajout</a>
			</h4>
			<div class="container">
				<div class="agileits-single-top">
					<ol class="breadcrumb">
						<li><a href="{{ path('doshibu_admin_home') }}">Accueil</a></li>
						<li class="active">Ajout de films</li>
					</ol>
				</div>
			</div>
		</div>
		<div class="container">
			{{ include("DoshibuAdminBundle:Movies:addform.html.twig") }}
		</div>
	</div>
{% endblock %}