{% extends 'DoshibuAdminBundle::layout.html.twig' %}

{% set activeMenu = 'Series' %}

{% block body %}
	<div class="faq">
		<div class="tittle-head">
			<h4 class="latest-text">Gestion des séries&nbsp;:&nbsp;
				<a href="{{ path('doshibu_admin_series_update') }}">Modification</a>
			</h4>
			<div class="container">
				<div class="agileits-single-top">
					<ol class="breadcrumb">
						<li><a href="{{ path('doshibu_admin_home') }}">Accueil</a></li>
						<li class="active">Modification de séries</li>
					</ol>
				</div>
			</div>
		</div>
	</div>
{% endblock %}